.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  transition: 1s;

  opacity: 0;
  visibility: hidden;
}

.loading.active {
  opacity: 1;
  visibility: visible;
}

@keyframes flashing {
  50% {
    opacity: 0.3;
  }
}

.loading-txt {
  animation: 0.5s flashing infinite;
}
